<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEstatusOrdenService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://187.188.173.92:49330/EstatusOrdenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstatusOrdenService"
                contract="IEstatusOrdenService" name="BasicHttpBinding_IEstatusOrdenService" />
        </client>
    </system.serviceModel>
</configuration>